.footerMain {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.footerDetail {
    padding: 10px;
    color: white;
}