.button-page-container {
    margin: 2rem 6rem;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.button-head-topic {
    font-size: 50px;
    font-weight: bold;
}

.submit-cancel-topic {
    font-size: 30px;
    margin-top: 1rem;
}

.social-topic {
    font-size: 30px;
    margin-top: 2rem;
}