.home-container {
    margin: 2rem 6rem;
    height: 100%;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

p {
    font-size: 20px;
    text-align: justify;
}

ul li a{
    margin: 0.5rem 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s ease;
}

ul li a:hover {
    text-decoration: underline;
    color: red
}
