.imagesEx-container {
    text-align: center;
    justify-items: center;
    margin: 2rem 6rem;
}

.imagesEx-head-topic {
    margin-bottom: 1.5rem;
    font-size: 50px;
}

img {
    margin: 1.5rem 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}